@import "../../../styles/variables.less";

blog-cards article.blog-cards {
    .blog-list {
        margin: @grid-gutter-width 0 0 0;
        padding: 0;
        list-style: none;

        > li {
            @height-xs: 150px;
            @height-sm: 200px;
            @height-md: 200px;
            @height-lg: 240px;

            margin-bottom: @grid-gutter-width;

            > .card {
                display: block;
                position: relative;
                height: @height-xs;
                color: @theme-grey;
                background-color: @theme-light-blue;
                box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
                font-size: 18px;

                > .content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 20px;

                    .headline { margin: 0; font-family: @font-family-serif; }
                    .date { margin-top: 10px; font-size: 16px; }
                }
            }

            .set-color(@color) {
                background-color: @color;
                &:hover { background-color: darken(@color, 5%); }
            }

            &:first-child > .card { .set-color(@theme-blue); color: #fff; }
            &:nth-child(2) > .card { .set-color(#fff); }
            &:nth-child(3) > .card { .set-color(lighten(@theme-blue, 20%)); }
            &:nth-child(4) > .card { .set-color(lighten(@theme-blue, 15%)); }
            &:nth-child(5) > .card { .set-color(lighten(@theme-blue, 10%)); }
            &:nth-child(6) > .card { .set-color(lighten(@theme-blue, 5%)); }

            @media (max-width: @screen-xs-max) {
                &:nth-child(n+4) {
                    display: none;
                }
            }

            @media (min-width: @screen-sm-min) {
                & > .card { height: @height-sm; };
            }

            @media (min-width: @screen-md-min) {
                & > .card { height: @height-md; };
                &:first-child > .card {
                    height: 2 * @height-md + @grid-gutter-width;
                    font-size: 26px;
                }

                &:nth-child(n+6) {
                    display: none;
                }
            }

            @media (min-width: @screen-lg-min) {
                & > .card { height: @height-lg; }
                &:first-child > .card { height: 2 * @height-lg + @grid-gutter-width; }
            }
        }
    }
}