<article class="main-blogs">
    <section class="blogs-filters">

        <ul class="filters" uib-collapse="blogsCtrl.filtersCollapsed">
            <li ng-repeat="filter in blogsCtrl.filters">

            </li>
        </ul>
    </section>

    <section class="main container">
        <div class="row">
            <ul class="blogs-list clearfix">
                <li ng-repeat="blog in blogsCtrl.blogs.items" class="col-xs-12 col-sm-4">
                    <a  class="card"
                        ui-sref="default.blog({ articleId: blog.id })"
                        ng-style="{ 'background-image': 'url(/images/blog-'+blog.id+'.jpg)' }">

                        <div class="content">
                            <div class="headline">{{blog.headline}}</div>
                            <div class="date">{{blog.date | date:'dd/MM/yyyy'}}</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="pagination-container text-center">
        <ul class="pagination"
            uib-pagination
            boundary-links="true"
            total-items="blogsCtrl.blogs.totalCount"
            items-per-page="blogsCtrl.pageSize"
            ng-model="blogsCtrl.blogs.pageNo"
            ng-change="blogsCtrl.pageChanged()"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"></ul>
    </section>

    <div ui-view name="footer"></div>
</article>