@import "../../../styles/variables.less";

page-head article.page-head {
    //background-attachment: fixed;
    //background-color: @theme-grey;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 140px;
    padding-bottom: 20px;
    color: #fff;

    h2 {
        display: inline-block;
        margin: 0 10px 0 0;
    }

    h4 {
        display: inline-block;
        margin: 0;
    }
}