@import "../../../../styles/variables.less";

article.default-layout article.main-intro {
    padding-top: 0 !important; // let the header overlap on this page

    .about {
        //background-color: @theme-light-blue;
        background-image: url(/images/corridor.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;

        .content {
            height: 100vh;
            display: table;
            width: 100%;

            .center {
                display: table-cell;
                vertical-align: middle;

                h1 { color: #fff; font-family: @font-family-serif; font-size: 80px; }
                h3 { margin: 20px 0 10px 0; font-weight: 700; font-size: 30px; }
                h4 { font-size: 20px; }

                @media (max-width: @screen-sm-min) {
                    h1 { font-size: 55px; }
                    h3 { font-size: 25px; }
                    h4 { font-size: 18px; }
                }
            }
        }
    }
}