<article class="main-home" ng-class="homeCtrl.slideUp ? 'view-slide-up' : 'view-slide-right'">
    <section class="about">
        <div class="container">
            <div class="content col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <svg class="border" width="100%" height="100%" viewBox="0 0 150 100" preserveAspectRatio="none" load-delay>
                    <path class="line1" fill="none" d="M66.66 0 L0 0 L0 66.66"/>
                    <path class="line2" fill="none" d="M150 33.33 L150 100 L83.33 100"/>
                </svg>
                <div class="center" load-delay>
                    <span class="bold">Hi</span>, my name is Mike - a .NET web developer based in London.
                    I'm originally from Manchester but have been living in London since 2012.
                    I started learning to program from the age of 13, and used the internet teach myself
                     I have been working as a full-time web developer in a couple of different companies over the past 4 years.
                </div>
            </div>
        </div>
    </section>

    <section class="cv">
        <uib-accordion>
            <div uib-accordion-group class="top" heading="Work Experience">
                A
            </div>
            <div uib-accordion-group class="middle" heading="Skills">
                B
            </div>
            <div uib-accordion-group class="bottom" heading="Education">
                C
            </div>
        </uib-accordion>
    </section>

    <section class="filler">
        <div class="container">
            <div class="left col-xs-12 col-sm-6">
                <div class="text">I'm available for contract work.</div>
            </div>
            <div class="right col-xs-12 col-sm-6">
                <div class="text">Take a look at my <a ui-sref="default.about">Experience</a> page.</div>
            </div>
        </div>
    </section>

    <section class="blog">
        <div class="top-bar clearfix">
            <a ui-sref="default.blogs" class="glyphicon glyphicon-th-large"></a>
        </div>
        <blog-cards></blog-cards>
        <div class="bottom-bar">
            <a ng-if="false" ng-click="" class="btn btn-default btn-lg">More</a>
        </div>
    </section>

    <div ui-view name="footer"></div>
</article>
