@import "../../../../styles/variables.less";

article.default-layout article.main-home {
    //padding-top: 0 !important; // let the header overlap on this page
    background-color: #fff;

    .about {
        height: 100vh;
        width: 100%;
        background-image: url(/images/tent.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: table;

        .container {
            display: table-cell;
            vertical-align: middle;
        }

        .content {
            .border {
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;

                .line1, .line2 {
                    stroke: @theme-yellow;
                    stroke-width: 1px;
                    stroke-dasharray: 400;
                    stroke-dashoffset: 400;
                    transition: stroke-dashoffset 1.25s ease-in-out;
                }
            }

            .center {
                display: table-cell;
                vertical-align: middle;
                font-size: 16px;
                line-height: 35px;
                padding: 40px;
                font-family: @font-family-base;
                opacity: 0;
                transition: opacity 1.25s ease-in-out;

                .bold {
                    font-size: 32px;
                    font-weight: bold;
                    font-family: @font-family-serif;
                }
            }

            &.page-loaded {
                .border {
                    .line1, .line2 { stroke-dashoffset: 0; }
                }
                .center { opacity: 1; }
            }
        }
    }

    .overview {
        @color: @theme-black;
        background-color: #fff;
        display: table;
        width: 100%;
        height: 50vh;
        position: relative;
        //box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.5);
        @transition-time: 1s;

        @media (max-width: @screen-xs-max) {
            height: 80vh;
        }

        .border {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;

            @stroke-width: 4px;
            @stroke-time: @transition-time/4;
            .border-top, .border-bottom, .border-left, .border-right {
                position: absolute;
                background-color: @theme-yellow;

            }
            .border-top, .border-bottom { width: 100%; height: @stroke-width; }
            .border-left, .border-right { width: @stroke-width; height: 100%; }

            .border-top { top: 0; left: 0; transition: transform @stroke-time ease-in; transition-delay: 0; }
            .border-right { top: 0; right: 0; transition: transform @stroke-time ease; transition-delay: @stroke-time; }
            .border-bottom { bottom: 0; left: 0; transition: transform @stroke-time ease; transition-delay: @stroke-time*2; }
            .border-left { top: 0; left: 0; transition: transform @stroke-time ease-out; transition-delay: @stroke-time*3; }

            // .border-top { transform: translateX(-100%); }
            // .border-right { transform: translateY(-100%); }
            // .border-bottom { transform: translateX(100%); }
            // .border-left { transform: translateY(100%); }
        }

        &.scrolled-past {
            .border {
                .border-top, .border-bottom { transform: translateX(0); }
                .border-left, .border-right { transform: translateY(0); }
            }

            .left, .right {
                opacity: 1;

                ul > li { opacity: 1; }
            }
        }

        > .center {
            display: table-cell;
            vertical-align: middle;
        }

        .left, .right {
            @fade-time: 0.3s;
            @delay-time: (@transition-time - @fade-time)/5;
            padding: 0 20px;

            ul {
                list-style-image: url(/images/list-line.svg);
                list-style-position: outside;
                margin: 0;
                padding: 0;

                > li:nth-child(1) { transition-delay: 0; }
                > li:nth-child(2) { transition-delay: 1*@delay-time; }
                > li:nth-child(3) { transition-delay: 2*@delay-time; }
                > li:nth-child(4) { transition-delay: 3*@delay-time; }
                > li:nth-child(5) { transition-delay: 4*@delay-time; }
                > li:nth-child(6) { transition-delay: 5*@delay-time; }
                > li:nth-child(7) { transition-delay: 6*@delay-time; }
                > li {
                    transition: opacity @fade-time ease-in-out;
                    opacity: 0;
                }
            }
        }

        .left {
            font-family: @font-family-serif;
            font-size: 20px;
            line-height: 40px;
            transition: opacity @transition-time ease-in-out;
            opacity: 0;
        }

        .right {
            font-family: @font-family-base;
            font-size: 16px;
            line-height: 35px;
        }
    }

    .cv {
        background-color: #fff;

        .panel {
            margin: 0;
            border: none;
            text-align: center;

            &.top .panel-heading { background-image: url(/images/ripple-top.jpg); }
            &.middle .panel-heading { background-image: url(/images/ripple-middle.jpg); }
            &.bottom .panel-heading { background-image: url(/images/ripple-bottom.jpg); }

            .panel-heading {
                position: relative;
                height: 150px;
                line-height: 150px;
                padding: 0;
                background-repeat: repeat-x;
                overflow: hidden;
                z-index: 1;
                margin-bottom: 1px;

                &:hover { cursor: pointer; }

                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: @theme-yellow;
                    z-index: 1;
                    transition: all 0.3s ease-in-out;
                    opacity: 0;
                    transform: translateY(-150px);
                }

                > .panel-title {
                    line-height: 150px;
                    font-size: 32px;
                    font-family: @font-family-serif;
                    position: relative;
                    z-index: 10;

                    a:focus, a:active {
                        outline: none;
                    }
                }
            }

            &:last-child  {
                .panel-heading:before {
                    transform: translateY(150px);
                }
            }

            &:hover + .panel:not(.panel-open) {
                .panel-heading:before {
                    transform: translateY(-150px);
                }
            }

            &.panel-open, &:hover {
                .panel-heading:before {
                    opacity: 0.5;
                    transform: translateY(0) !important;
                }
            }
        }

        .panel-group {
            margin: 0;

            &:hover {
                .panel .panel-heading:before {
                    transform: translateY(150px);
                }
            }
        }
    }

    .filler {
        @color: @theme-black;
        background-color: #fff;
        border: 4px solid @theme-light-blue;

        .left, .right {
            font-family: @font-family-serif;
            font-size: 28px;
            display: table;
            height: 40vh;
            text-align: center;

            .text {
                display: table-cell;
                vertical-align: middle;
            }

            @media (max-width: @screen-sm-min) {
                height: 20vh;
            }
        }

        .left {
        }

        .right {
            font-size: 18px;
            font-family: @font-family-base;

            .text > a {
                border: 1px solid @theme-black;
                padding: 20px 40px;
                background-color: transparent;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: fade(@theme-yellow, 50%);
                }
            }
        }


    }

    .blog {
        background-color: @theme-light-blue;

        .top-bar, .bottom-bar {
            text-align: center;
            background-color: @theme-dark-blue;
        }

        .top-bar {
            padding: 15px 0;
            min-height: 75px;

            > .glyphicon {
                color: #fff;
                border: 2px solid #fff;
                border-radius: 50%;
                float: right;
                padding: 10px 10px 11px 11px;
                margin: 0 40px;
                font-size: 21px;
                cursor: pointer;

                @media (max-width: @screen-sm-min) {
                    margin: 0 20px;
                }

                &:hover {
                    background-color: darken(@theme-dark-blue, 2%);
                }
            }
        }

        .bottom-bar {
            padding: 25px 0;
            min-height: 75px;
        }
    }
}