<article class="main-portfolios">
    <div class="background">
        <section class="main container">
            <div class="row">
                <ul class="portfolios-list clearfix">
                    <li ng-repeat="portfolio in portfoliosCtrl.portfolios.items" class="col-xs-12 col-sm-6 col-md-4">
                        <a class="card"
                        ui-sref="default.portfolio({ articleId: portfolio.id })"
                        ng-class="'id-' + portfolio.id">

                            <div class="content">
                                <div class="headline">{{portfolio.headline}}</div>
                                <div class="date">{{portfolio.date | date:'dd/MM/yyyy'}}</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="pagination-container text-center" ng-if="portfoliosCtrl.portfolios.totalCount > portfoliosCtrl.portfolios.pageSize">
            <ul class="pagination"
                uib-pagination
                boundary-links="true"
                total-items="portfoliosCtrl.portfolios.totalCount"
                items-per-page="portfoliosCtrl.pageSize"
                ng-model="portfoliosCtrl.portfolios.pageNo"
                ng-change="portfoliosCtrl.pageChanged()"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"></ul>
        </section>
    </div>

    <div ui-view name="footer"></div>
</article>
