@import "../../styles/variables.less";

article.default-layout {
    .ui-view-animate-container {
        position: relative;
    }

    .ui-view-animate {
        transition: all 0.4s ease;
        width: 100%;

        &.ng-enter, &:not(.ng-leave):nth-child(1):nth-last-child(2), &:not(.ng-leave):nth-child(2):nth-last-child(1) {
            // this rule applies to a .ui-view-animate which doesn't have .ng-leave, and only when there
            // are two .ui-view-animate elements. This is to solve the problem that ng-leave stays on
            // for longer than ng-enter, otherwise we would just use a simple .ng-enter selector.
            position: absolute;
            z-index: 1000;
            height: 100vh;
            overflow: hidden;
        }

        &.ng-leave {
            position: fixed;
            z-index: 500;
        }
    }
}