@import "../../../styles/variables.less";

article.default-layout header.header {
    position: relative;
    z-index: 2000;

    .navbar {
        position: fixed;
        transition: all 0.2s ease-in-out;
        transform: translateY(-82px);
        min-height: 82px;
        margin-bottom: 0;
        border: 0;
        background-color: @theme-light-blue;
        width: 100%;

        .nav-header {
            position: absolute;
            right: 0;
            background-color: @theme-light-blue;
            z-index: 100;

            > .nav-toggle {
                margin: 20px 40px;
                padding: 10px;
                border: 2px solid #fff;
                border-radius: 50%;
                outline: none;
                background-color: @theme-light-blue;
                color: #fff;
                font-size: 0;

                &:hover {
                    background-color: darken(@theme-light-blue, 2%);
                }

                svg {
                    .line1, .line2, .line3 {
                        transition: all ease-in-out 0.3s;
                        transform: rotate(0) scaleX(1);
                    }

                    &.cross {
                        .line1 { transform: rotate(45deg) scaleX(sqrt(2)); }
                        .line2 { transform: scaleX(0.01); }
                        .line3 { transform: rotate(-45deg) scaleX(sqrt(2)); }
                    }
                }
            }
        }

        .nav-collapse {
            border: 0;
            overflow: hidden;
            line-height: 62px;

            @media (min-width: @screen-sm-min) {
                height: auto !important;

                .nav {
                    transition: transform ease-in-out 0.3s;
                    transform: translateX(0);
                    width: ~"calc(100% - 121px)";
                    font-family: @font-family-serif;
                    font-size: 18px;
                }

                &.collapsed .nav {
                    transform: translateX(100%);
                }
            }

            .nav {
                background-color: @theme-light-blue;
            }
        }
    }

    &.show {
        .navbar {
            transform: translateY(0);
        }
    }
}