<header class="header" page-show-on-scroll="headerCtrl.show">
    <nav class="navbar" role="navigation" ng-class="{ 'hide-menu': ('default.intro' | isState) || headerCtrl.shouldHide() }">
        <div class="top-bar" ng-hide="('default.home' | isState) || ('default.intro' | isState)">
            <a class="logo" ui-sref="default.home">
                <span class="text">MJ</span>
            </a>
        </div>
        <div class="nav-header">
            <button type="button"
                    class="nav-toggle"
                    ng-click="headerCtrl.expandClick()"
                    ng-class="{ 'cross': headerCtrl.expanded }"
                    title="{{headerCtrl.expanded ? 'Close' : 'Menu'}}">
                <svg class="icon" width="36" height="22" viewbox="0 0 1618 1000">
                    <rect class="line1" x="50" y="50" width="1518" height="100" />
                    <rect class="line2" x="50" y="450" width="1518" height="100" />
                    <rect class="line3" x="50" y="850" width="1518" height="100" />
                </svg>
                <svg class="no-smil-cross-icon" width="36" height="22" viewbox="0 0 1618 1000">
                    <line class="line1" x1="409" y1="100" x2="1209" y2="900" stroke-width="100" />
                    <line class="line3" x1="409" y1="900" x2="1209" y2="100" stroke-width="100" />
                </svg>
            </button>
        </div>

        <div class="nav-collapse collapsed" ng-class="{ collapsed: !headerCtrl.expanded }">
            <ul class="nav">
                <li ui-sref-active="active">
                    <a ui-sref="default.home" ng-click="headerCtrl.expandClick()" title="Home" class="fa fa-home"></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="default.blogs" ng-click="headerCtrl.expandClick()" title="Blog" class="fa fa-th-large"></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="default.about" ng-click="headerCtrl.expandClick()" title="About" class="fa fa-user"></a>
                </li>
                <!--<li ui-sref-active="active">
                    <a ui-sref="default.lab" ng-click="headerCtrl.expandClick()" title="Experiments" class="fa fa-flask"></a>
                </li>-->
                <li ui-sref-active="active">
                    <a ng-click="headerCtrl.expandClick(); headerCtrl.scrollToBottom()" title="Contact" class="fa fa-envelope"></a>
                </li>
            </ul>
        </div>
    </nav>
</header>