<header class="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="nav-header">
            <button type="button" class="nav-toggle" ng-click="navbarExpanded = !navbarExpanded">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="nav-collapse" ng-class="{ collapsed: !navbarExpanded }" uib-collapse="!navbarExpanded">
            <ul class="nav nav-pills nav-justified">
                <li><a ui-sref-active="active" ui-sref="default.home">Home</a></li>
                <li><a ui-sref-active="active" ui-sref="default.blogs">Blog</a></li>
                <li><a ui-sref-active="active" ui-sref="default.cv">CV</a></li>
                <li><a ui-sref-active="active" ui-sref="default.contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>