<header class="header" page-show-on-scroll="headerCtrl.show">
    <nav class="navbar" role="navigation" ng-class="{ 'hide-menu': !headerCtrl.show && !headerCtrl.expanded }">
        <div class="top-bar" ng-hide="('default.home' | isState) && headerCtrl.isScrolledToTop()">
            <a class="name" ui-sref="default.home" ng-show="!('default.home' | isState)">Michael Jerred</a>
        </div>
        <div class="nav-header">
            <button type="button"
                    class="nav-toggle"
                    ng-click="headerCtrl.expandClick()"
                    ng-class="{ 'cross': headerCtrl.expanded }"
                    title="{{headerCtrl.expanded ? 'Close' : 'Menu'}}">
                <svg width="22" height="22" viewbox="0 0 1200 1200">
                    <rect class="line1" x="60" y="60" width="1080" height="120" rx="60" ry="60" />
                    <rect class="line2" x="60" y="540" width="1080" height="120" rx="60" ry="60" />
                    <rect class="line3" x="60" y="1020" width="1080" height="120" rx="60" ry="60" />
                </svg>
            </button>
        </div>

        <div class="nav-collapse" ng-class="{ collapsed: !headerCtrl.expanded }">
            <ul class="nav">
                <li ui-sref-active="active">
                    <a ui-sref="default.home" ng-click="headerCtrl.expandClick()" title="Home" class="fa fa-home"></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="default.blogs" ng-click="headerCtrl.expandClick()" title="Blog" class="fa fa-th-large"></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="default.about" ng-click="headerCtrl.expandClick()" title="About" class="fa fa-user"></a>
                </li>
                <!--<li ui-sref-active="active">
                    <a ui-sref="default.lab" ng-click="headerCtrl.expandClick()" title="Experiments" class="fa fa-flask"></a>
                </li>-->
                <li ui-sref-active="active">
                    <a ng-click="headerCtrl.expandClick(); headerCtrl.scrollToBottom()" title="Contact" class="fa fa-envelope"></a>
                </li>
            </ul>
        </div>
    </nav>
</header>