@import "../../../styles/variables.less";

article.default-layout footer.footer {
    .container {
        margin-top: 40px;
        border-top: 1px solid @gray-lighter;
        padding-top: 40px;

        .content {
            //padding: 40px 0;
        }

        .back-to-top {
            cursor: pointer;
        }
    }
}