@import "../../../styles/variables.less";

article.default-layout footer.footer {
    display: table;
    width: 100%;
    padding: 40px;
    border-top: 4px solid #fff;

    // hack for firefox, which has a bug that resizes images with background-attachment: fixed
    // causing a 'jump' when the page loads
    > .bg {
        bottom: 0;
        left: 0;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-image: url(/images/pattern.jpg);
        z-index: -1;
    }

    .content {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: @theme-grey;
        padding: 30px;
        font-size: 16px;

        .title {
            font-size: 2em;
            font-family: @font-family-serif;
            margin: 0 0 20px 0;
        }

        .email {
            margin: 20px 0;
            font-size: 1em;
        }

        .links {
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;

            > li {
                float: left;
                font-size: 1.8em;

                > a {
                    transition: border-radius 0.2s ease-in-out;
                    border: 2px solid @theme-grey;
                    margin: 0 5px;
                    width: 56px;
                    height: 56px;
                    line-height: 52px;

                    &:hover {
                        border-radius: 50%;
                    }

                    &.fa-github {
                        font-size: 34px;
                    }
                }
            }
        }
    }

    @media (max-width: @screen-xs-max) {
        padding: 20px;

        .content {
            padding: 20px;
            font-size: 14px;

            .links {
                > li > a {
                    width: 49px;
                    height: 49px;
                    line-height: 45px;
                }
            }
        }
    }
}