@import "../../../styles/variables.less";

blog-markdown {
    pre {
        font-size: 1em;
        border: none;
        background-color: #fff;

        code {
            background-color: #fff !important;
            white-space: pre;
        }
    }

    a {

        font-weight: 600;

        &:hover {
            color: @theme-blue;
        }
    }
}