<section class="about">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="content col-xs-12 col-sm-10 col-md-8" page-loaded>
                <div class="anchor">
                    <div class="yellow-border" [class.page-loaded]="pageLoaded()">
                        <div class="top"></div>
                        <div class="left"></div>
                        <div class="right"></div>
                        <div class="bottom"></div>
                    </div>
                    <div class="center">
                        <span class="bold">Hi</span>, my name is Mike - a .NET web developer based in London.
                        I'm originally from Manchester but have been living in London since 2012.
                        I started learning to program from the age of 13, and used the internet teach myself.
                        I have been working as a full-time web developer in a couple of different companies over the past 5 years.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-home-overview></app-home-overview>

<app-home-cv></app-home-cv>

<section class="filler">
    <div class="container">
        <div class="row align-items-center">
            <div class="left col-xs-12 col-sm-6">
                <div class="text">Currently unavailable for contract work.</div>
            </div>
            <div class="right col-xs-12 col-sm-6">
                <div class="text"><a href="/cv.pdf" target="_blank">Download CV</a></div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
