@import "../../../../styles/variables.less";

// article.default-layout .ui-view-animate {
//     &.ng-enter {
//         article.main-blog {
//             transition: all 10s ease-in-out;
//             opacity: 0;
//             transform: translateX(100vw);
//         }

//         &.ng-enter-active {
//             article.main-blog {
//                 opacity: 1;
//                 transform: translateX(0);
//             }
//         }
//     }

//     &.ng-leave {

//     }
// }

article.default-layout article.main-blog {
    background-color: #fff;

    .top-bar {
        background-color: @theme-light-blue;
        padding-left: 20px;
        height: 82px;
        line-height: 82px;
        font-size: 20px;
    }

    .next-blogs {
        .card {
            color: @theme-black;


            &.card-prev {
                float: left;
                background-color: #fff;
            }

            &.card-next {
                float: right;
                background-color: @theme-light-blue;
            }
        }
    }
}