<article class="main-blog" ng-class="blogCtrl.slideRight ? 'view-slide-right' : 'view-slide-left'">
    <section class="top-bar">
        <a ui-sref="default.home">Michael Jerred</a>
    </section>

    <section class="headline" ng-style="{ 'background-image': 'url(/images/blog-'+blogCtrl.article.id+'.jpg)' }">
        <div class="box">
            <h1>{{blogCtrl.article.headline}}</h1>

            <h4>{{blogCtrl.article.date | date:'dd MMMM yyyy'}}</h4>

            <div class="share-links" ng-class="{ open: blogCtrl.showShareLinks}">
                <div class="share-button fa fa-share-alt" ng-click="blogCtrl.showShareLinks = !blogCtrl.showShareLinks"></div>
                <ul class="links">
                    <li><a class="fa fa-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fsharingbuttons.io&amp;title=<title>&amp;summary=<summary>&amp;source=http%3A%2F%2Fsharingbuttons.io"></a></li>
                    <li><a class="fa fa-google-plus" href="https://plus.google.com/share?url=http%3A%2F%2F"></a></li>
                    <li><a class="fa fa-twitter" href="https://twitter.com/intent/tweet/?text=<text>&amp;url=http%3A%2F%2F"></a></li>
                    <li><a class="fa fa-facebook" href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2F"></a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="main container">
        <blog-markdown class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10" markdown="blogCtrl.article.articleMarkdown"></blog-markdown>
    </section>

    <section class="related-blogs clearfix">
        <a class="card card-prev col-xs-6 col-sm-4 col-md-3 col-lg-2"
           ng-if="blogCtrl.article.prevBlog"
           ui-sref="default.blog({ articleId: blogCtrl.article.prevBlog.id, slideTo: 'right' })">
            <div class="content">
                <h3 class="headline">{{blogCtrl.article.prevBlog.headline}}</h3>
                <div class="date">{{blogCtrl.article.prevBlog.date | date:'dd MMMM yyyy'}}</div>
            </div>
        </a>
        <a class="card card-next col-xs-6 col-sm-4 col-md-3 col-lg-2"
           ng-if="blogCtrl.article.nextBlog"
           ui-sref="default.blog({ articleId: blogCtrl.article.nextBlog.id, slideTo: 'left' })">
            <div class="content">
                <h3 class="headline">{{blogCtrl.article.nextBlog.headline}}</h3>
                <div class="date">{{blogCtrl.article.nextBlog.date | date:'dd MMMM yyyy'}}</div>
            </div>
        </a>
    </section>

    <div ui-view name="footer"></div>
</article>