@import "../../../../styles/variables.less";

article.default-layout article.main-blog {
    background-color: @theme-light-blue;

    > .top-bar {
        background-color: @theme-light-blue;
        padding-left: 20px;
        height: 82px;
        line-height: 82px;
        font-size: 28px;
    }

    > .headline {
        display: table;
        width: 100%;
        padding: 40px;
        background-image: url(/images/green-pattern.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        color: #fff;
        font-family: @font-family-serif;

        .box {
            display: table-cell;
            padding: 80px;
            vertical-align: middle;
            border: 1px solid #fff;
            text-align: center;

            h1 { margin-bottom: 30px; }

            .share-links {
                position: relative;
                margin-top: 30px;

                .icon() {
                    font-size: 20px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    width: 46px;
                    height: 46px;
                    line-height: 42px;
                }

                .share-button {
                    .icon();
                    position: absolute;
                    top: 0;
                    left: ~"calc(50% - 23px)";
                    z-index: 100;
                    cursor: pointer;
                    transition: color 0.3s ease-in-out;
                }

                .links {
                    list-style: none;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 46px;
                    color: #fff;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    font-size: 0;

                    > li {
                        position: absolute;
                        left: ~"calc(50% - 28px)";
                        transition: all 0.3s ease-in-out;
                        transform: translateX(0);
                        opacity: 0;

                        > a {
                            .icon();
                            margin: 0 5px;
                        }
                    }
                }

                &.open {
                    .share-button {
                        color: @theme-light-blue;
                        border-color: @theme-light-blue;
                    }

                    .links > li {
                        @count: 4;
                        @step: 55px;
                        .create-children(@i: 1) when (@i =< @count) {
                            @distance: pow(-1, @i) * @step * ceil(@i / 2);

                            opacity: 1;

                            &:nth-child(@{i}) {
                                transform: translateX(@distance);
                            }

                            .create-children(@i+1);
                        }

                        .create-children();
                    }
                }
            }
        }
    }

    > .main {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 30px;

        h1 { font-size: 38px; }
        h2 { font-size: 30px; }
        h3 { font-size: 22px; }
        h4 { font-size: 18px; }
    }

    > .related-blogs {
        background: @theme-blue;
        padding: 40px 0;

        .card {
            color: @theme-black;
            padding: 40px 20px;
            font-family: @font-family-serif;
            box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);

            &:hover {
                box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
            }

            &.card-prev {
                float: left;
                background-color: #fff;
                &:hover { background-color: darken(#fff, 10%); }
            }

            &.card-next {
                float: right;
                background-color: @theme-light-blue;
                &:hover { background-color: darken(@theme-light-blue, 10%); }
            }
        }
    }
}