<article class="main-blog" ng-swipe-disable-mouse ng-swipe-left="blogCtrl.gotoPreviousBlog()" ng-swipe-right="blogCtrl.gotoNextBlog()">
    <section class="headline" ng-style="{ 'background-image': 'url(/images/blog-'+blogCtrl.articleId+'.jpg)' }">
        <div class="box" page-loaded>
            <h1>{{blogCtrl.article.headline}}</h1>

            <h4>{{blogCtrl.article.date | date:'dd MMMM yyyy'}}</h4>

            <div class="share-links" ng-class="{ open: blogCtrl.showShareLinks}">
                <button type="button"
                        class="share-button"
                        ng-click="blogCtrl.showShareLinks = !blogCtrl.showShareLinks"
                        title="{{blogCtrl.showShareLinks ? 'Close' : 'Share'}}">
                    <svg class="icon" width="20" height="20" viewbox="0 0 1200 1200">
                        <circle class="dot1" cx="300" cy="600" r="220" />
                        <circle class="dot2" cx="900" cy="320" r="220" />
                        <circle class="dot3" cx="900" cy="880" r="220" />

                        <rect class="line1" x="825" y="245" width="810" height="150" />
                        <rect class="line2" x="825" y="805" width="810" height="150" />
                    </svg>
                    <svg class="no-smil-icon" width="20" height="20" viewbox="0 0 1200 1200">
                        <circle class="dot1" cx="300" cy="600" r="220" />
                        <circle class="dot2" cx="900" cy="320" r="220" />
                        <circle class="dot3" cx="900" cy="880" r="220" />

                        <line class="line1" x1="300" y1="600" x2="900" y2="320" stroke-width="150" />
                        <line class="line2" x1="300" y1="600" x2="900" y2="880" stroke-width="150" />
                    </svg>
                    <svg class="no-smil-cross-icon" width="20" height="20" viewbox="0 0 1200 1200">
                        <line class="line1" x1="1000" y1="220" x2="240" y2="980" stroke-width="150" />
                        <line class="line2" x1="1000" y1="980" x2="240" y2="220" stroke-width="150" />
                    </svg>
                </button>
                <ul class="links">
                    <li><a class="fa fa-twitter" ng-href="{{blogCtrl.twitterLink}}" title="Twitter"></a></li>
                    <li><a class="fa fa-google-plus" ng-href="{{blogCtrl.googlePlusLink}}" title="Google+"></a></li>
                    <li><a class="fa fa-linkedin" ng-href="{{blogCtrl.linkedInLink}}" title="Linked In"></a></li>
                    <li><a class="fa fa-facebook" ng-href="{{blogCtrl.facebookLink}}" title="Facebook"></a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container">
            <blog-markdown
                class="col-xs-12 col-sm-offset-1 col-sm-10"
                markdown="blogCtrl.article.articleMarkdown"></blog-markdown>
        </div>
    </section>

    <section class="related-blogs clearfix">
        <a class="card card-prev pull-left col-xs-5 col-sm-4 col-md-3 col-lg-2"
           ng-if="blogCtrl.article.prevBlog"
           ui-sref="default.blog({ articleId: blogCtrl.article.prevBlog.id })">
            <div class="content">
                <h3 class="headline">{{blogCtrl.article.prevBlog.headline}}</h3>
                <div class="date">{{blogCtrl.article.prevBlog.date | date:'dd MMMM yyyy'}}</div>
            </div>
        </a>
        <a class="card card-next pull-right col-xs-5 col-sm-4 col-md-3 col-lg-2"
           ng-if="blogCtrl.article.nextBlog"
           ui-sref="default.blog({ articleId: blogCtrl.article.nextBlog.id })">
            <div class="content">
                <h3 class="headline">{{blogCtrl.article.nextBlog.headline}}</h3>
                <div class="date">{{blogCtrl.article.nextBlog.date | date:'dd MMMM yyyy'}}</div>
            </div>
        </a>
    </section>

    <div ui-view name="footer"></div>
</article>